@model Event
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Paragraph</h4>
            <p class="card-description">
                @Model.Title
            </p>
            <p>
                @Model.Time
            </p>
        </div>
    </div>
</div>

