@model Teacher 
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Paragraph</h4>
            <p class="card-description">
               @Model.Name
            </p>
            <p>
                @Model.Speciality
            </p>
        </div>
    </div>
</div>
